<div id="wrapper">
	<div id="carousel">
		<div class="empty"></div>
		<div style="background-color: #cec;">
			<img src="../img/bugs.jpg" width="554" height="313" />
			<img src="../img/bugs-grey.jpg" width="554" height="313" />
			<span>A Bug's Life</span>
		</div>
		<div style="background-color: #ecc;">
			<img src="../img/incred.jpg" width="554" height="313" />
			<img src="../img/incred-grey.jpg" width="554" height="313" />
			<span>The Incredibles</span>
		</div>
		<div style="background-color: #cde;">
			<img src="../img/monsters.jpg" width="554" height="313" />
			<img src="../img/monsters-grey.jpg" width="554" height="313" />
			<span>Monsters, Inc.</span>
		</div>
		<div style="background-color: #eec;">
			<img src="../img/rat.jpg" width="554" height="313" />
			<img src="../img/rat-grey.jpg" width="554" height="313" />
			<span>Ratatouille</span>
		</div>
		<div style="background-color: #ced;">
			<img src="../img/toystory.jpg" width="554" height="313" />
			<img src="../img/toystory-grey.jpg" width="554" height="313" />
			<span>Toy Story</span>
		</div>
		<div style="background-color: #cce;">
			<img src="../img/walle.jpg" width="554" height="313" />
			<img src="../img/walle-grey.jpg" width="554" height="313" />
			<span>WALL-E</span>
		</div>
		<div class="empty"></div>
	</div>
	<a id="prev" href="#"></a>
	<a id="next" href="#"></a>
</div>