<div id="wrapper">
	<div id="carousel-wrapper">
		<img id="shadow" src="img/gui/carousel_shadow.png" />
		<div id="carousel">
			<span id="pixar"><img src="img/large/pixar.jpg" /></span>
			<span id="bugs"><img src="img/large/bugs.jpg" /></span>
			<span id="cars"><img src="img/large/cars.jpg" /></span>
			<span id="incred"><img src="img/large/incred.jpg" /></span>
			<span id="monsters"><img src="img/large/monsters.jpg" /></span>
			<span id="nemo"><img src="img/large/nemo.jpg" /></span>
			<span id="rat"><img src="img/large/rat.jpg" /></span>
			<span id="toystory"><img src="img/large/toystory.jpg" /></span>
			<span id="up"><img src="img/large/up.jpg" /></span>
			<span id="walle"><img src="img/large/walle.jpg" /></span>
		</div>
	</div>
	<div id="thumbs-wrapper">
		<div id="thumbs">
			<a href="#pixar" class="selected"><img src="img/small/pixar.jpg" /></a>
			<a href="#bugs"><img src="img/small/bugs.jpg" /></a>
			<a href="#cars"><img src="img/small/cars.jpg" /></a>
			<a href="#incred"><img src="img/small/incred.jpg" /></a>
			<a href="#monsters"><img src="img/small/monsters.jpg" /></a>
			<a href="#nemo"><img src="img/small/nemo.jpg" /></a>
			<a href="#rat"><img src="img/small/rat.jpg" /></a>
			<a href="#toystory"><img src="img/small/toystory.jpg"  /></a>
			<a href="#up"><img src="img/small/up.jpg" /></a>
			<a href="#walle"><img src="img/small/walle.jpg" /></a>
		</div>
		<a id="prev" href="#"></a>
		<a id="next" href="#"></a>
	</div>
</div>

<!--
<ul class="items">
    <li *ngFor="let model of models"
        [class.selected]="isSelected(model)"
        (click)="onSelect(model)">
        <span class="badge">{{model.id}}</span> {{model.name}}
    </li>
</ul>
<router-outlet></router-outlet>
-->
